.about{
    background-color: #ffffff;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 160px 0;
        .card-item{
            width: 636px;
            margin-right: 120px;
            .items{
                line-height: 1.5;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
                h4{
                    font-size: 20px; 
                }
            }
        }
        .aboutMe{
            line-height: 1.5;
            h3{
                font-size: 64px;
            }
            p{
                font-size: 24px;
            }
        }
    }
}
.un-style{
    list-style-type: none;
}