.header{
    background-color: #000;
    .container{
        max-width: 1296px;
        margin: 0 auto;
        
    }
}
.menu{
    display: flex;
    justify-content: space-between;
    padding:20px 0 0 0;
    .menu-name{
        color:#D1D1D1;
        a{
            color:#D1D1D1;
            text-decoration: none;
        }
    }
}