.projects{
    background-color: #ffffff;
    .container{
        padding:160px 0;
        margin: 0 auto;
        h3{
            width: 600px;
            display: block;
            font-size: 64px;
            line-height: 96px;
            margin-left: auto;
        }
        .project-content{
            display: flex;
            justify-content: center;
            .pro-img{
                margin-right: 15px;
                img{
                    object-fit: cover;
                }
            }
            .content{
                .imgWithContent{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 30px;
                    img{
                        margin-right: 15px;
                    }
                    .contentAndBtn{
                        p{
                            margin-bottom: 85px;
                        }
                        .btn{
                            margin-right: auto;
                            background-color: black;
                            color:#ffffff;
                            &:hover{
                                background-color: white;
                                color:#000;
                            }
                        }
                    }
                }
                .twoPic{
                    img{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}